@media (max-width: 1300px) {
    header {
        height: 91px;
    }

    body {
        margin-top: 91px;
    }

    #analitycs::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    #platform::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    #advantages::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    #start::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    header .menu {
        z-index: -1;
        position: absolute;
        opacity: 0;
        flex-direction: column;
        top: 0;
        right: 0;
        transition: var(--transition);
        justify-content: center;
        text-align: center;
    }

    header.menu-active .menu {
        z-index: 1;
        gap: 35px;
        padding: 90px 40px 30px;
        border: 1px solid #3C3C3C1F;
        background: var(--light-blue);
        border-radius: 15px 0 15px 15px;
        opacity: 1;
    }

    header .menu::before {
        position: absolute;
        content: '';
        top: 20px;
        left: 25px;
        width: 33px;
        height: 38px;
        background: url(../img/burger-logo.svg) center / contain no-repeat;
    }

    header .menu-item a {
        font-size: 16px;
    }

    header .exit {
        position: absolute;
        z-index: 1;
        width: 14px;
        height: 14px;
        top: 32px;
        right: 25px;
        background: url(../img/exit.svg) center / contain no-repeat;
        border: none;
    }

    .header__logo {
        max-width: 185px;
    }

    .header__corner-box {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .burger {
        display: block;
        width: 28px;
        height: 21px;
        background: url(../img/burger.svg) center / contain no-repeat;
        border: none;
    }

    h1,
    .h1 {
        font-size: 50px;
    }

    h1 span,
    .h1 span {
        font-size: 50px;
    }

    .hero__box {
        padding: 90px 20px 0;
        margin-bottom: 0;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .hero__box img {
        margin: auto;
    }

    .hero__content p {
        max-width: 50%;
        margin-bottom: 30px;
    }

    .btn {
        padding: 10px 75px;
    }

    header .btn {
        padding: 10px 30px;
    }

    .hero__content h1 {
        margin-bottom: 10px;
    }

    .hero__content {
        margin-top: 0;
    }

    .trading .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .style .container {
        padding-top: 70px;
        /* padding-bottom: 260px; */
        padding-bottom: 70px;
        flex-direction: column;
        gap: 0;
        /* background: url(../img/MacBook.png) right calc(100% - 80px) / 570px no-repeat; */
    }

    .style .btn {
        padding: 10px 65px;
    }

    .style img {
        /* display: none; */

        max-width: 570px;
        max-height: 340px;
        margin-left: auto;
        margin-top: -160px;
        margin-right: -50px;
    }

    .room .container {
        gap: 25px;
        align-items: start;
        padding-top: 70px;
        padding-bottom: 80px;
    }

    .room picture {
        width: 100%;
        margin-top: 20px;
        margin-left: -20px;
    }

    .room img {
        margin: auto;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    .room h2 {
        margin-bottom: 10px;
    }

    .room p {
        margin-bottom: 20px;
    }

    .room__content {
        width: 100%;
    }

    .start .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .start h2 {
        margin-bottom: 60px;
    }

    .start__list {
        flex-direction: column;
    }

    .start__list::before {
        display: none;
    }

    .start__item {
        max-width: calc(100% - 160px);
        padding: 30px 145px 30px 65px;
    }

    .start__item:nth-child(2) {
        position: relative;
        margin-left: 160px;
    }

    .start__item:nth-child(2)::before {
        z-index: -1;
        position: absolute;
        content: '';
        top: -50px;
        left: 170px;
        left: 25%;
        width: 4px;
        height: calc(100% + 100px);
        background: var(--green);
    }

    .start__number {
        margin-bottom: 10px;
    }

    .start__btn {
        right: 65px;
    }

    .advantages .container {
        padding-top: 70px;
        gap: 0;
    }

    .advantages__box {
        padding-bottom: 70px;
    }

    .advantages__item {
        gap: 20px;
    }

    .advantages__item:not(:last-child) {
        margin-bottom: 25px;
    }

    .analitycs .container {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .analitycs__item {
        /* height: 765px; */
        /* height: auto; */
        flex-direction: column;
        align-items: start;
        padding: 30px 65px 70px;
    }

    .analitycs__widget {
        width: 100%;
    }

    .analitycs__box {
        width: 90%;
    }

    .analitycs__top {
        align-items: end;
        margin-bottom: 10px;
        gap: 20px;
    }

    .analitycs h2 {
        margin-bottom: 60px;
    }

    .analitycs .swiper-pagination {
        margin-top: 20px;
    }

    .analitycs__item {
        border-radius: 30px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 30px;
        bottom: 65px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 30px;
        bottom: 65px;
    }

    .about-us .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding-bottom: 70px;
    }

    .opportunities .container {
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 0;
    }

    .opportunities__img {
        position: absolute;
        margin: 0;
        bottom: -70px;
        left: 0;
    }

    .opportunities__box {
        padding-left: 40%;
    }

    .contacts__map {
        margin-right: 0;
    }

    .questions .container {
        gap: 60px;
        justify-content: center;
    }

    input[type='checkbox']+span {
        font-size: 14px;
    }

    input[type='checkbox']+span::before {
        width: 26px;
        height: 26px;
    }

    .questions .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about-us__item h4 {
        width: fit-content;
        padding: 5px 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        background: var(--white);
        border: 1px solid var(--blue);
    }

    footer .menu-item a {
        font-size: 16px;
    }

    .footer__docs {
        gap: 25px;
        row-gap: 7px;
        white-space: nowrap;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__docs a {
        font-size: 14px;
    }

    .error .container {
        min-height: initial;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}