@media (max-width: 500px) {
    header.menu-active .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        justify-content: start;
        border-radius: 0;
    }

    header.menu-active .header__btns {
        display: flex;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
    }

    .room__item {
        width: 100%;
        text-align: center;
    }

    .btn {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 15px;
    }

    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .cookies .btn {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    .style img {
        position: initial;
        transform: none;
        max-width: 100%;
    }

    .style .btn {
        display: none;
    }

    .style .btn--mobile {
        display: block;
        text-align: center;
    }

    .room .container {
        flex-direction: column-reverse;
    }

    .room .btn {
        display: none;
    }

    .room .btn--mobile {
        display: block;
        text-align: center;
    }

    .room__list {
        margin-bottom: 0;
    }

    .advantages .container {
        flex-direction: column;
    }

    .advantages .btn {
        display: none;
    }

    .advantages .btn--mobile {
        display: block;
        margin-top: -30px;
    }

    .advantages__list {
        margin-bottom: 0;
    }

    .analitycs__top {
        gap: 10px;
    }

    .opportunities .container {
        flex-direction: column-reverse;
    }

    .opportunities .btn {
        display: none;
    }

    .opportunities .btn--mobile {
        display: block;
    }

    .opportunities__box p {
        margin-bottom: 20px;
    }

    .opportunities__img {
        margin-bottom: 20px;
        margin-left: initial;
    }
}