@media (max-width: 500px) {
    body.body-active {
        margin-top: 91px;
    }

    header.menu-active .container {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background: var(--light-blue);
        justify-content: start;
        padding-top: 70px;
        gap: 30px;
    }

    header .menu {
        display: flex;
        flex-direction: column;
        z-index: -1;
        top: -100vh;
        left: 0;
        right: 0;
    }

    header.menu-active .menu {
        z-index: 1;
        position: initial;
        background: none;
        padding: 0;
        border: none;
        border-radius: 0;
        gap: 30px;
    }

    header.menu-active .header__btns {
        gap: 10px;
    }

    header.menu-active .header__logo {
        display: none;
    }

    header.menu-active .header__btns {
        display: flex;
        flex-direction: column;
    }

    header.menu-active .burger {
        display: none;
    }

    .hero__box {
        background: url(../img/hero-decor-mobile.svg) var(--light-blue) center top / contain no-repeat;
    }

    .room__item {
        width: 100%;
        text-align: center;
    }

    .btn {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 15px;
        padding: 10px;
    }

    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .cookies .btn {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    .style img {
        position: initial;
        transform: none;
        max-width: 100%;
    }

    .style .btn {
        display: none;
    }

    .style .btn--mobile {
        display: block;
        text-align: center;
    }

    .room .container {
        flex-direction: column-reverse;
    }

    .room .btn {
        display: none;
    }

    .room .btn--mobile {
        display: block;
        text-align: center;
    }

    .room__list {
        margin-bottom: 0;
    }

    .advantages {
        background: url(../img/advantages-decor-mobile.svg) var(--light-blue) center / contain no-repeat;
    }

    .advantages .container {
        flex-direction: column;
    }

    .advantages .btn {
        display: none;
    }

    .advantages .btn--mobile {
        display: block;
        margin-top: -30px;
    }

    .advantages__list {
        margin-bottom: 0;
    }

    .analitycs__top {
        gap: 10px;
    }

    .opportunities .container {
        flex-direction: column-reverse;
    }

    .opportunities .btn {
        display: none;
    }

    .opportunities .btn--mobile {
        display: block;
    }

    .opportunities__box p {
        margin-bottom: 20px;
    }

    .opportunities__img {
        margin-bottom: 20px;
        margin-left: initial;
    }

    .start__item {
        max-width: 100%;
        border-radius: 15px;
    }
    
    .start__item:nth-child(2) {
        margin-left: initial;
    }

    .start__item:nth-child(2)::before {
        left: 50%;
    }

    .start__number {
        margin-bottom: 20px;
    }
}