@media (max-width: 900px) {

    h1,
    .h1 {
        font-size: clamp(25px, 7vw, 50px);
    }

    h1 span,
    .h1 span {
        font-size: clamp(25px, 7vw, 50px);
    }

    .hero__box {
        background: url(../img/hero-decor-tablet.png) var(--light-blue) center top / contain no-repeat;
    }

    .style {
        background: url(../img/style-bg-tablet.png) center / contain no-repeat;
    }

    .start h3 {
        font-size: clamp(15px, 4vw, 25px);
    }

    .start__number {
        font-size: clamp(40px, 8vw, 60px);
    }

    .start__item {
        border-radius: 25px;
    }

    .advantages {
        background: url(../img/advantages-decor-tablet.svg) var(--light-blue) center bottom / contain no-repeat;
    }

    .advantages__item::before {
        width: 25px;
        height: 25px;
    }

    .advantages__list {
        max-width: 340px;
    }

    .advantages .btn {
        max-width: 340px;
        width: 100%;
        text-align: center;
    }

    p {
        font-size: 15px;
    }

    .advantages__item {
        font-size: 15px;
    }

    .advantages img {
        display: none;
    }

    .advantages .container {
        background: url(../img/advantages-img.png) right 30px bottom / 305px 450px no-repeat;
    }

    .about-us .container {
        gap: 50px;
    }

    .opportunities {
        background: url(../img/opportunities-decor-tablet.svg) var(--light-blue) center / contain no-repeat;
    }

    .contacts .container {
        padding-top: 100px;
    }

    .contacts__box {
        max-width: 360px;
        padding: 30px;
        border-radius: 20px;
    }

    .contacts__map {
        margin-left: -15px;
        max-width: 360px;
    }

    .contacts__map iframe {
        height: 430px;
        border-radius: 20px;
    }

    .contacts__box p {
        margin-bottom: 25px;
    }

    .contacts__info a,
    .contacts__info address {
        font-size: 15px;
    }

    .contacts__tel::before {
        width: 28px;
        height: 28px;
    }

    .contacts__mail::before {
        width: 28px;
        height: 28px;
    }

    .contacts__address::before {
        width: 28px;
        height: 28px;
    }

    .questions {
        background: url(../img/questions-decor-tablet.svg) var(--light-blue) center / contain no-repeat;
    }

    .questions .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2,
    .h2 {
        font-size: clamp(18px, 4vw, 30px);
    }

    .analitycs__number {
        font-size: clamp(40px, 8vw, 60px);
    }

    .analitycs h2 {
        margin-bottom: 40px;
    }

    .analitycs__item {
        padding: 15px;
        padding-bottom: 70px;
    }

    .analitycs__box h3 {
        font-size: clamp(15px, 4vw, 25px);
    }

    footer .menu {
        margin-bottom: 20px;
    }

    footer p {
        font-size: 14px;
    }

    footer p:not(:last-child) {
        margin-bottom: 5px;
    }

    .footer__docs {
        margin-bottom: 35px;
    }

    footer .copyright {
        margin-top: 25px;
    }
}