:root {
    --black: #3C3C3C;
    --green: #B4ED62;
    --blue: #6293F2;
    --light-blue: #F4F7FE;
    --white: #FDFDFD;
    --transition: .2s ease-in-out all;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 60px;
    line-height: 140%;
    color: var(--black);
}

h1 span {
    color: var(--green);
    font-size: 70px;
}

h2,
.h2 {
    margin: 0;
    font-size: 40px;
    line-height: 140%;
    font-weight: 600;
    color: var(--black);
}

h2 span,
.h2 span {
    color: var(--blue);
}

h3 {
    margin: 0;
    font-size: 30px;
    line-height: 140%;
    font-weight: 600;
    color: var(--black);
}

h4 {
    margin: 0;
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    color: var(--black);
}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black);
}

h6 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.btn {
    display: inline-block;
    padding: 15px 75px;
    color: var(--white);
    background: var(--green);
    border-radius: 40px;
    cursor: pointer;
    border: 0;
    transition: var(--transition);
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
    text-decoration: none;
}

.singin {
    padding: 10px 35px;
    color: var(--black);
    background: var(--white);
    outline: 1px solid var(--green);
    font-weight: 400;
}

.container {
    position: relative;
    max-width: 1630px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 117px;
    background: var(--white);
    /* box-shadow: 0px 8px 10px -5px rgba(34, 60, 80, 0.2); */
}

body {
    margin-top: 117px;
}

header .container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__select {
    border: none;
    font-size: 20px;
    font-weight: 300;
    color: #3C3C3C96;
    cursor: pointer;
    background: none;
}

.header__select:focus {
    color: var(--blue);
}

.header__select:focus option {
    color: #3C3C3C96;
}

header .menu {
    display: flex;
    gap: 50px;
    list-style: none;
}

header .menu-item a {
    font-size: 18px;
    color: var(--black);
    text-decoration: none;
    transition: var(--transition);
    white-space: nowrap;
}

.hero__box {
    padding: 80px 80px 0;
    display: flex;
    margin-bottom: 80px;
    margin-left: -90px;
    margin-right: -90px;
    width: calc(100% + 180px);
    justify-content: space-between;
    gap: 50px;
    border-radius: 35px;
    background: url(../img/hero-decor.png) var(--light-blue) center / contain no-repeat;
}

.hero__content {
    max-width: 710px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: -80px;
    flex: 0 0 auto;
}

.hero__content h1 {
    margin-bottom: 20px;
}

.hero__content p {
    margin-bottom: 50px;
}

.trading {
    background: var(--light-blue);
}

.trading .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.trading__list {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    list-style: none;
}

.trading__item {
    min-width: 180px;
    text-align: center;
}

.trading__number {
    margin-bottom: 20px;
    font-size: 90px;
    color: var(--black);
    font-weight: 400;
}

.trading__number::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--green);
    display: block;
}

.style {
    /* overflow-x: hidden; */
    background: url(../img/style-bg.png) center / contain no-repeat;
}

.style .container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    overflow-x: hidden;
}

.style__box {
    max-width: 550px;
    flex: 0 0 auto;
}

.style h2 {
    margin-bottom: 10px;
}

.style p {
    margin-bottom: 50px;
}

.room {
    background: var(--light-blue);
}

.room .container {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.room__content {
    max-width: 550px;
    margin-left: auto;
}

.room h2 {
    margin-bottom: 20px;
}

.room h2 span {
    color: var(--green);
}

.room p {
    margin-bottom: 30px;
}

.room__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    margin-bottom: 40px;
    list-style: none;
}

.room__item {
    width: max-content;
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    background: var(--white);
    border-radius: 45px;
    color: var(--black);
}

.start .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.start h2 {
    margin-bottom: 50px;
}

.start__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    align-items: stretch;
}

.start__list::before {
    content: '';
    position: absolute;
    top: 128px;
    width: 100%;
    height: 4px;
    background: var(--green);
}

.start__item {
    position: relative;
    width: 100%;
    padding: 20px 30px 70px;
    background: var(--light-blue);
    border-radius: 35px;
    transition: var(--transition);
    border: 2px solid var(--light-blue)
}

.start__item p {
    max-width: 350px;
}

.start__number {
    margin-bottom: 20px;
    font-size: 60px;
    color: var(--green);
    font-weight: 275;
}

.start h3 {
    margin-bottom: 10px;
}

.start__btn {
    position: absolute;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 30px;
    border: 2px solid var(--green);
    border-radius: 40px;
    transition: var(--transition);
}

.start__btn path {
    transition: var(--transition);
}

.advantages {
    background: var(--light-blue);
}

.advantages {
    background: url(../img/advantages-decor.png) var(--light-blue) center bottom / contain no-repeat;
}

.advantages .container {
    display: flex;
    gap: 85px;
    padding-top: 80px;
    align-items: end;
}

.advantages__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 80px;
}

.advantages h2 {
    margin-bottom: 30px;
}

.advantages__list {
    margin-bottom: 50px;
}

.advantages__item {
    max-width: 430px;
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
}

.advantages__item:not(:last-child) {
    margin-bottom: 30px;
}

.advantages__item::before {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    content: '';
    display: block;
    background: url(../img/v.svg) center / contain no-repeat;
}

#analitycs::before {
    content: '';
    display: block;
    margin-top: -117px;
    padding-top: 117px;
    visibility: hidden;
}

#platform::before {
    content: '';
    display: block;
    margin-top: -117px;
    padding-top: 117px;
    visibility: hidden;
}

#advantages::before {
    content: '';
    display: block;
    margin-top: -117px;
    padding-top: 117px;
    /* visibility: hidden;; */
    background: var(--white);
}

#start::before {
    content: '';
    display: block;
    margin-top: -117px;
    padding-top: 117px;
    visibility: hidden;
}

.analitycs .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.analitycs h2 {
    max-width: 820px;
    margin-bottom: 30px;
}

.analitycs__item {
    /* height: 620px; */
    height: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    background: var(--light-blue);
    border-radius: 50px;
    padding: 70px 90px;
}

.analitycs__top {
    display: flex;
    gap: 30px;
    align-items: start;
    margin-bottom: 20px;
}

.analitycs__item:nth-child(1) .analitycs__top,
.analitycs__item:nth-child(3) .analitycs__top {
    align-items: end;
}

.analitycs__number {
    font-size: 60px;
    color: var(--green);
    font-weight: 300;
    line-height: 100%;
}

.analitycs__box {
    width: 465px;
    flex: 0 0 auto;
}

.analitycs__widget {
    width: calc(100% - 495px);
}

.analitycs .swiper {
    margin-left: -90px;
    margin-right: -90px;
}

.analitycs .swiper-pagination {
    position: initial;
    margin-top: 40px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
}

.swiper-pagination-bullet-active {
    background: var(--green);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    top: auto;
    right: auto;
    left: 90px;
    bottom: 105px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    top: auto;
    left: auto;
    right: 90px;
    bottom: 105px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    width: 30px;
    height: 30px;
    transition: var(--transition);
}

.swiper-button-prev svg,
.swiper-button-next svg {
    background: var(--light-blue);
    border-radius: 50px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.about-us .container {
    display: flex;
    justify-content: center;
    gap: 180px;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 135px;
}

.about-us__platform {
    position: relative;
    flex: 0 0 auto;
}

.about-us__decoration img {
    width: 100%;
    height: 100%;
    max-width: 555px;
    max-height: 555px;
}

.about-us__list {
    list-style: none;
}

.about-us__item {
    position: absolute;
    width: 125px;
    height: 125px;
    text-align: center;
    transition: var(--transition);
    border-radius: 50%;
    outline-color: #6293F226;
}

.about-us__item:nth-child(1) {
    width: 25%;
    height: 25%;
    left: 37%;
    top: -12%;
}

.about-us__item:nth-child(2) {
    width: 25%;
    height: 25%;
    right: -8%;
    top: 18%;
}

.about-us__item:nth-child(3) {
    width: 25%;
    height: 25%;
    bottom: 3%;
    right: 1%;
}

.about-us__item:nth-child(4) {
    width: 25%;
    height: 25%;
    bottom: 3%;
    left: 1%;
}

.about-us__item:nth-child(5) {
    width: 25%;
    height: 25%;
    left: -8%;
    top: 18%;
}



.about-us__item h4 {
    z-index: 1;
    position: relative;
    color: var(--blue);
    transition: var(--transition);
    opacity: 0;
    font-size: clamp(13px, 2vw, 20px);
    text-align: center;
}

.about-us__item::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: .25s ease-in-out all;
    outline-color: #6293F226;
}

.about-us__item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .3s ease-in-out all;
    outline-color: #6293F226;
}

.about-us__box h2 {
    margin-bottom: 50px;
}

.about-us__box p span {
    color: var(--green);
}

.about-us__box p:not(:last-child) {
    margin-bottom: 20px;
}

.opportunities {
    background: url(../img/opportunities-decor.png) var(--light-blue) center / contain no-repeat;
}

.opportunities .container {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: start;
}

.opportunities__img {
    margin-top: -3%;
    max-width: 680px;
    margin-left: -150px;
}

.opportunities__box h2 {
    max-width: 700px;
    margin-bottom: 20px;
}

.opportunities__box p {
    max-width: 580px;
    margin-bottom: 50px;
}

.contacts .container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.contacts__box {
    position: relative;
    max-width: 610px;
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 40px;
    background: var(--white);
    box-shadow: 0px 0px 11px 1px #00000014;
    border-radius: 35px;
}

.contacts__box h2 {
    margin-bottom: 10px;
}

.contacts__box p {
    margin-bottom: 30px;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__info a,
.contacts__info address {
    display: flex;
    gap: 20px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
    font-style: initial;
}

.contacts__tel::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/phone-icon.svg) center / contain no-repeat;
    flex: 0 0 auto;
}

.contacts__mail::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/mail-icon.svg) center / contain no-repeat;
    flex: 0 0 auto;
}

.contacts__address::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/location-icon.svg) center / contain no-repeat;
    flex: 0 0 auto;
}

.contacts__map {
    width: 100%;
    max-width: 820px;
    margin-left: -90px;
}

.contacts__map iframe {
    border-radius: 50px;
}

.questions {
    background: url(../img/questions-decor.png) var(--light-blue) center / contain no-repeat;
}

.questions .container {
    display: flex;
    gap: 280px;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.questions__box {
    max-width: 450px;
}

.questions__box h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 365px;
}

form .btn {
    margin-top: 10px;
}

input,
textarea {
    padding: 10px 20px;
    background: var(--white);
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    color: var(--black);
    font-size: 20px;
    resize: none;
}

input:focus-visible,
textarea:focus-visible {
    outline-color: var(--green);
}

input::placeholder,
textarea::placeholder {
    font-size: 20px;
    line-height: 140%;
    color: #B0B0B0;
}

textarea {
    height: 110px;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']+span {
    display: flex;
    gap: 10px;
    color: #C5C6C8;
    font-size: 16px;
    line-height: 140%;
}

input[type='checkbox']+span::before {
    width: 28px;
    height: 28px;
    content: '';
    display: block;
    background: url(../img/checked.svg) var(--white) center / 19px no-repeat;
    border: 1px solid #3C3C3C2B;
    transition: var(--transition);
    flex: 0 0 auto;
}

input[type='checkbox']:checked+span::before {
    background: url(../img/checked.svg) var(--blue) center / 19px no-repeat;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.footer__logo {
    margin-bottom: 40px;
}

footer .menu {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    align-items: center;
    list-style: none;
}

footer .menu-item a {
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    transition: var(--transition);
}

.footer__docs {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 50px;
}

.footer__docs a {
    color: #3C3C3C80;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    transition: var(--transition);
}

footer p {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: #B0B0B0;
}

footer p:not(:last-child) {
    margin-bottom: 20px;
}

footer .copyright {
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: #B0B0B0;
    margin-top: 30px;
    margin-bottom: 0;
}

.cookies {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    display: none;
    gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    background: var(--white);
    border: 2px solid var(--blue);
    padding: 25px;
    border-radius: 25px;
    color: var(--white);
}

.cookies p {
    font-size: 16px;
}

.cookies a {
    color: var(--black);
}

.cookies .btn {
    margin-top: 5px;
    padding: 10px 30px;
    font-size: 14px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--green) var(--light-blue);
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--light-blue);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 35px;
    border: 3px solid var(--light-blue);
}

.burger {
    display: none;
}

.btn--mobile {
    display: none;
}

.about-us__item:hover h4 {
    margin-top: 35px;
    opacity: 1;
}

.about-us__item:hover {
    outline: 10px solid #6293F226;
}

.about-us__item:hover::before {
    outline: 20px solid #6293F226;
}

.about-us__item:hover img {
    outline: 30px solid #6293F226;
}

.exit {
    display: none;
    cursor: pointer;
}

.error {
    background: url(../img/error-decor.svg) var(--light-blue) center / contain no-repeat;
}

.error .container {
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.error h1 {
    font-size: clamp(25px, 9vw, 120px);
    font-weight: 600;
}

.error .btn {
    margin-top: 30px;
}

.for-mobile {
    display: none;
}

footer p {
    text-align: left;
}

footer details>summary {
    list-style: none;
}

footer details>summary::-webkit-details-marker {
    display: none;
}

footer details {
    margin-bottom: 15px;
}

footer summary {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #B0B0B0;
    font-size: 16px;
    text-align: left;
    transition: var(--transition);
}

footer summary svg {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background: url(../img/arrow-bottom.svg) center / contain no-repeat;
    transition: var(--transition);
}

footer details[open] summary {
    margin-bottom: 10px;
    color: var(--black);
    text-decoration: underline;
}

footer details[open] summary svg {
    transform: rotate(180deg);
}

footer details[open] summary svg path {
    stroke: var(--black);
}

@media (min-width: 1200px) {
    .btn:hover {
        color: var(--green);
        background: var(--white);
        outline: 1px solid var(--green);
    }

    .singin:hover {
        color: var(--white);
        background: var(--green);
        outline: none;
    }

    option:hover {
        background: var(--light-blue);
        color: var(--blue);
    }

    header .menu-item a:hover {
        color: var(--blue);
    }

    .start__item:hover {
        background: var(--white);
        border: 2px solid var(--blue)
    }

    .start__btn:hover {
        background: var(--green);
    }

    .start__btn:hover path {
        stroke: var(--white);
    }

    .swiper-button-prev:hover svg,
    .swiper-button-next:hover svg,
    .swiper-button-prev:hover svg path,
    .swiper-button-next:hover svg path,
    .swiper-button-prev:hover svg circle,
    .swiper-button-next:hover svg circle {
        transition: var(--transition);
    }

    .swiper-button-prev:hover svg path,
    .swiper-button-next:hover svg path {
        stroke: var(--white);
    }

    .swiper-button-prev:hover svg circle,
    .swiper-button-next:hover svg circle {
        stroke: var(--green);
    }

    .swiper-button-prev:hover svg,
    .swiper-button-next:hover svg {
        background: var(--green);
    }

    footer .menu-item a:hover {
        color: var(--blue);
    }

    .footer__docs a:hover {
        color: var(--black);
        text-decoration: underline;
    }
}

@media (max-width: 1440px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero__box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        gap: 40px;
    }

    .analitycs .swiper {
        margin-left: 0;
        margin-right: 0;
    }

    .about-us__platform {
        margin-left: 30px;
    }
}

@media (max-width: 1300px) {
    header {
        height: 91px;
    }

    body {
        margin-top: 91px;
    }

    #analitycs::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    #platform::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    #advantages::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    #start::before {
        margin-top: -90px;
        padding-top: 90px;
    }

    header .menu {
        z-index: -1;
        position: absolute;
        opacity: 0;
        flex-direction: column;
        top: 0;
        right: 0;
        transition: var(--transition);
        justify-content: center;
        text-align: center;
    }

    header.menu-active .menu {
        z-index: 1;
        gap: 35px;
        padding: 90px 40px 30px;
        border: 1px solid #3C3C3C1F;
        background: var(--light-blue);
        border-radius: 15px 0 15px 15px;
        opacity: 1;
    }

    header .menu::before {
        position: absolute;
        content: '';
        top: 20px;
        left: 25px;
        width: 33px;
        height: 38px;
        background: url(../img/burger-logo.svg) center / contain no-repeat;
    }

    header .menu-item a {
        font-size: 16px;
    }

    header .exit {
        position: absolute;
        z-index: 1;
        width: 14px;
        height: 14px;
        top: 32px;
        right: 25px;
        background: url(../img/exit.svg) center / contain no-repeat;
        border: none;
    }

    .header__logo {
        max-width: 185px;
    }

    .header__corner-box {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .burger {
        display: block;
        width: 28px;
        height: 21px;
        background: url(../img/burger.svg) center / contain no-repeat;
        border: none;
    }

    h1,
    .h1 {
        font-size: 50px;
    }

    h1 span,
    .h1 span {
        font-size: 50px;
    }

    .hero__box {
        padding: 90px 20px 0;
        margin-bottom: 0;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .hero__box img {
        margin: auto;
    }

    .hero__content p {
        max-width: 50%;
        margin-bottom: 30px;
    }

    .btn {
        padding: 10px 75px;
    }

    header .btn {
        padding: 10px 30px;
    }

    .hero__content h1 {
        margin-bottom: 10px;
    }

    .hero__content {
        margin-top: 0;
    }

    .trading .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .style .container {
        padding-top: 70px;
        /* padding-bottom: 260px; */
        padding-bottom: 70px;
        flex-direction: column;
        gap: 0;
        /* background: url(../img/MacBook.png) right calc(100% - 80px) / 570px no-repeat; */
    }

    .style .btn {
        padding: 10px 65px;
    }

    .style img {
        /* display: none; */

        max-width: 570px;
        max-height: 340px;
        margin-left: auto;
        margin-top: -160px;
        margin-right: -50px;
    }

    .room .container {
        gap: 25px;
        align-items: start;
        padding-top: 70px;
        padding-bottom: 80px;
    }

    .room picture {
        width: 100%;
        margin-top: 20px;
        margin-left: -20px;
    }

    .room img {
        margin: auto;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    .room h2 {
        margin-bottom: 10px;
    }

    .room p {
        margin-bottom: 20px;
    }

    .room__content {
        width: 100%;
    }

    .start .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .start h2 {
        margin-bottom: 60px;
    }

    .start__list {
        flex-direction: column;
    }

    .start__list::before {
        display: none;
    }

    .start__item {
        max-width: calc(100% - 160px);
        padding: 30px 145px 30px 65px;
    }

    .start__item:nth-child(2) {
        position: relative;
        margin-left: 160px;
    }

    .start__item:nth-child(2)::before {
        z-index: -1;
        position: absolute;
        content: '';
        top: -50px;
        left: 170px;
        left: 25%;
        width: 4px;
        height: calc(100% + 100px);
        background: var(--green);
    }

    .start__number {
        margin-bottom: 10px;
    }

    .start__btn {
        right: 65px;
    }

    .advantages .container {
        padding-top: 70px;
        gap: 0;
    }

    .advantages__box {
        padding-bottom: 70px;
    }

    .advantages__item {
        gap: 20px;
    }

    .advantages__item:not(:last-child) {
        margin-bottom: 25px;
    }

    .analitycs .container {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .analitycs__item {
        /* height: 765px; */
        /* height: auto; */
        flex-direction: column;
        align-items: start;
        padding: 30px 65px 70px;
    }

    .analitycs__widget {
        width: 100%;
    }

    .analitycs__box {
        width: 90%;
    }

    .analitycs__top {
        align-items: end;
        margin-bottom: 10px;
        gap: 20px;
    }

    .analitycs h2 {
        margin-bottom: 60px;
    }

    .analitycs .swiper-pagination {
        margin-top: 20px;
    }

    .analitycs__item {
        border-radius: 30px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 30px;
        bottom: 65px;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 30px;
        bottom: 65px;
    }

    .about-us .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding-bottom: 70px;
    }

    .about-us__item:nth-child(1) h4 {
        margin-top: -80%;
    }

    .about-us__item:nth-child(1):hover h4 {
        margin-left: 140%;
    }

    .about-us__item:nth-child(3) {
        bottom: -3%;
        right: 11%;
    }

    .about-us__item:nth-child(4) {
        bottom: -3%;
        left: 11%;
    }

    .opportunities .container {
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 0;
    }

    .opportunities__img {
        position: absolute;
        margin: 0;
        bottom: -70px;
        left: 0;
    }

    .opportunities__box {
        padding-left: 40%;
    }

    .contacts__map {
        margin-right: 0;
    }

    .questions .container {
        gap: 60px;
        justify-content: center;
    }

    input[type='checkbox']+span {
        font-size: 14px;
    }

    input[type='checkbox']+span::before {
        width: 26px;
        height: 26px;
    }

    .questions .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about-us__item h4 {
        width: fit-content;
        padding: 5px 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        /* background: var(--white); */
        /* border: 1px solid var(--blue); */
    }

    footer .menu-item a {
        font-size: 16px;
    }

    .footer__docs {
        gap: 25px;
        row-gap: 7px;
        white-space: nowrap;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__docs a {
        font-size: 14px;
    }

    .error .container {
        min-height: initial;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 900px) {

    h1,
    .h1 {
        font-size: clamp(25px, 7vw, 50px);
    }

    h1 span,
    .h1 span {
        font-size: clamp(25px, 7vw, 50px);
    }

    .hero__box {
        background: url(../img/hero-decor-tablet.png) var(--light-blue) center top / contain no-repeat;
    }

    .style {
        background: url(../img/style-bg-tablet.png) center / contain no-repeat;
    }

    .start h3 {
        font-size: clamp(15px, 4vw, 25px);
    }

    .start__number {
        font-size: clamp(40px, 8vw, 60px);
    }

    .start__item {
        border-radius: 25px;
    }

    .advantages {
        background: url(../img/advantages-decor-tablet.svg) var(--light-blue) center bottom / contain no-repeat;
    }

    .advantages__item::before {
        width: 25px;
        height: 25px;
    }

    .advantages__list {
        max-width: 340px;
    }

    .advantages .btn {
        max-width: 340px;
        width: 100%;
        text-align: center;
    }

    p {
        font-size: 15px;
    }

    .advantages__item {
        font-size: 15px;
    }

    .advantages img {
        display: none;
    }

    .advantages .container {
        background: url(../img/advantages-img.png) right 30px bottom / 305px 450px no-repeat;
    }

    .about-us .container {
        gap: 65px;
    }

    .opportunities {
        background: url(../img/opportunities-decor-tablet.svg) var(--light-blue) center / contain no-repeat;
    }

    .contacts .container {
        padding-top: 100px;
    }

    .contacts__box {
        max-width: 360px;
        padding: 30px;
        border-radius: 20px;
    }

    .contacts__map {
        margin-left: -15px;
        max-width: 360px;
    }

    .contacts__map iframe {
        height: 430px;
        border-radius: 20px;
    }

    .contacts__box p {
        margin-bottom: 25px;
    }

    .contacts__info a,
    .contacts__info address {
        font-size: 15px;
    }

    .contacts__tel::before {
        width: 28px;
        height: 28px;
    }

    .contacts__mail::before {
        width: 28px;
        height: 28px;
    }

    .contacts__address::before {
        width: 28px;
        height: 28px;
    }

    .questions {
        background: url(../img/questions-decor-tablet.svg) var(--light-blue) center / contain no-repeat;
    }

    .questions .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2,
    .h2 {
        font-size: clamp(18px, 4vw, 30px);
    }

    .analitycs__number {
        font-size: clamp(40px, 8vw, 60px);
    }

    .analitycs h2 {
        margin-bottom: 40px;
    }

    .analitycs__item {
        padding: 15px;
        padding-bottom: 70px;
    }

    .analitycs__box h3 {
        font-size: clamp(15px, 4vw, 25px);
    }

    footer .menu {
        margin-bottom: 20px;
    }

    footer p {
        font-size: 14px;
    }

    footer p:not(:last-child) {
        margin-bottom: 5px;
    }

    .footer__docs {
        margin-bottom: 35px;
    }

    footer .copyright {
        margin-top: 25px;
    }
}

@media (max-width: 750px) {
    .header .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hero__content h1 {
        margin-bottom: 20px;
    }

    .hero__content p {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero__box {
        padding-top: 45px;
        border-radius: 15px;
        gap: 20px;
    }

    .header__btns {
        display: none;
    }

    .header__logo {
        max-width: 110px;
    }

    .burger {
        width: 21px;
        height: 16px;
    }

    .trading__list {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    p {
        font-size: 16px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .trading .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .trading__list {
        margin-top: 45px;
    }

    .trading__item {
        min-width: initial;
        max-width: 120px;
    }

    .trading__item:nth-child(2) {
        order: 2;
    }

    .trading__number {
        font-size: 70px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    .style .container {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 30px;
    }

    .style img {
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 60px;
        margin: auto;
        object-fit: contain;
        max-width: 50%;
        /* max-height: 100%; */
    }

    .room .container {
        padding-top: 60px;
        padding-bottom: 60px;

        flex-direction: row-reverse;
    }

    .room h2 {
        margin-bottom: 25px;
    }

    .room p {
        margin-bottom: 30px;
    }

    .room__content {
        margin-left: initial;
    }

    .room__list {
        margin-bottom: 30px;
    }

    .room picture {
        margin: auto;
    }

    .room img {
        margin-right: auto;
    }

    .start .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .start__list {
        gap: 20px;
    }

    .start__item {
        padding: 15px;
        padding-right: 90px;
    }

    .start h2 {
        margin-bottom: 35px;
    }

    .start__item:nth-child(2)::before {
        transform: translateX(-2px);
    }

    .start__btn {
        right: 15px;
        bottom: 15px;
        width: 60px;
        height: 40px;
    }

    .advantages .container {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 20px;
        align-items: center;
        background: none;
    }

    .advantages__item:not(:last-child) {
        margin-bottom: 15px;
    }

    .advantages__box {
        padding-bottom: 0;
        width: 100%;
    }

    .advantages__item {
        gap: 15px;
    }

    .advantages img {
        display: block;
        max-height: 350px;
    }

    .analitycs .container {
        padding-top: 70px;
    }

    .analitycs__item {
        gap: 20px;
        border-radius: 15px;
        /* height: auto; */
    }

    .about-us .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 45px;
    }

    .about-us__platform {
        margin: 10%;
        margin-top: 40px;
    }

    .about-us__decoration img {
        max-width: 350px;
        max-height: 350px;
    }

    .opportunities .container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .opportunities__img {
        position: relative;
        left: -15px;
        bottom: 0;
        width: 100%;
        margin-left: -80px;
    }

    .opportunities__box {
        padding: initial;
    }

    .contacts__box {
        max-width: 100%;
        margin: 0 15px;
        padding: 30px 20px;
    }

    .contacts__box p {
        margin-bottom: 20px;
    }

    .contacts__info {
        gap: 15px;
    }

    .contacts__map iframe {
        height: 250px;
    }

    .contacts__map {
        max-width: 100%;
        margin: 0;
        /* margin-top: -25px; */
        margin-top: -10px;
    }

    .contacts .container {
        padding-top: 70px;
        flex-direction: column;
    }

    .questions .container {
        flex-direction: column;
    }

    .questions__box {
        max-width: 100%;
        width: 100%;
    }

    form {
        width: 100%;
        max-width: 100%;
        align-items: start;
    }

    input,
    textarea {
        width: 100%;
    }

    .for-desktop {
        display: none;
    }

    .for-mobile {
        display: block;
    }

    footer .container {
        padding-top: 45px;
        align-items: start;
    }

    .footer__logo {
        max-width: 140px;
        margin-right: auto;
        margin-bottom: 30px;
    }

    footer .menu {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        margin-bottom: 15px;
    }

    .footer__docs {
        width: 100%;
        gap: 15px;
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }

    footer p {
        font-size: 14px;
        text-align: left;
    }

    footer p:not(:last-child) {
        margin-bottom: 15px;
    }

    footer p:last-child {
        margin-bottom: 0;
    }

    footer .copyright {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 0;
        font-size: 14px;
        text-align: left;
    }
}

@media (max-width: 500px) {
    body.body-active {
        margin-top: 91px;
    }

    header.menu-active .container {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background: var(--light-blue);
        justify-content: start;
        padding-top: 70px;
        gap: 30px;
    }

    header .menu {
        display: flex;
        flex-direction: column;
        z-index: -1;
        top: -100vh;
        left: 0;
        right: 0;
    }

    header.menu-active .menu {
        z-index: 1;
        position: initial;
        background: none;
        padding: 0;
        border: none;
        border-radius: 0;
        gap: 30px;
    }

    header.menu-active .header__btns {
        gap: 10px;
    }

    header.menu-active .header__logo {
        display: none;
    }

    header.menu-active .header__btns {
        display: flex;
        flex-direction: column;
    }

    header.menu-active .burger {
        display: none;
    }

    .hero__box {
        background: url(../img/hero-decor-mobile.svg) var(--light-blue) center top / contain no-repeat;
    }

    .room__item {
        width: 100%;
        text-align: center;
    }

    .btn {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 15px;
        padding: 10px;
    }

    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .cookies .btn {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }

    .style img {
        position: initial;
        transform: none;
        max-width: 100%;
    }

    .style .btn {
        display: none;
    }

    .style .btn--mobile {
        display: block;
        text-align: center;
    }

    .room .container {
        flex-direction: column-reverse;
    }

    .room .btn {
        display: none;
    }

    .room .btn--mobile {
        display: block;
        text-align: center;
    }

    .room__list {
        margin-bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .advantages {
        background: url(../img/advantages-decor-mobile.svg) var(--light-blue) center / contain no-repeat;
    }

    .advantages .container {
        flex-direction: column;
    }

    .advantages .btn {
        display: none;
    }

    .advantages .btn--mobile {
        display: block;
        margin-top: -30px;
    }

    .advantages__list {
        margin-bottom: 0;
    }

    .analitycs__top {
        gap: 10px;
    }

    .opportunities .container {
        flex-direction: column-reverse;
    }

    .opportunities .btn {
        display: none;
    }

    .opportunities .btn--mobile {
        display: block;
    }

    .opportunities__box p {
        margin-bottom: 20px;
    }

    .opportunities__img {
        margin-bottom: 20px;
        margin-left: initial;
    }

    .start__item {
        max-width: 100%;
        border-radius: 15px;
    }

    .start__item:nth-child(2) {
        margin-left: initial;
    }

    .start__item:nth-child(2)::before {
        left: 50%;
    }

    .start__number {
        margin-bottom: 20px;
    }

    .error .container {
        align-items: center;
    }

    .contacts .container {
        padding-top: 60px;
    }
}

@media (max-width: 360px) {
    .style p {
        max-width: 315px;
    }

    .analitycs .swiper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .analitycs__widget {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }
}